### 입력

#### input() 함수는 콘솔창에서 문자열을 입력 받는 함수

In [2]:
print("Enter your name:")
somebody = input() 
print("Hi",somebody,"How are you today?")

Enter your name:
Hong
Hi Hong How are you today?

#### 콤마(,) 사용할경우 print 문이 연결됨

In [3]:
print("Hello World!","Hello Again!!!")

Hello World! Hello Again!!!

#### 숫자 입력 받기

In [4]:
temperature =float(input("온도를입력하세요:"))
print(temperature)

온도를입력하세요:103
103.0

####  입력 값을 변수 두 개에 저장하기

In [26]:
a, b = input().split()
print(a)
print(b)

Hello Python
Hello
Python

In [30]:
a, b = input('문자열 두 개을 입력하세요: ').split()
print(a)
print(b)

문자열 두 개을 입력하세요: Hello Python
Hello
Python

In [31]:
a, b = input().split(",")
print(a)
print(b)

Hello,Python
Hello
Python

In [33]:
a, b = input('문자열 두 개을 입력하세요: ').split(",")
print(a)
print(b)

문자열 두 개을 입력하세요: Hello,Python
Hello
Python

#### 입력 값을 정수로 변환하기

In [35]:
a, b = input("숫자 두 개를 입력하세요: ").split()
print(a + b)

숫자 두 개를 입력하세요: 10 20
1020

In [37]:
a, b = input("숫자 두 개를 입력하세요: ").split()
a = int(a)
b = int(b)
print(a + b)

숫자 두 개를 입력하세요: 10 20
30

In [38]:
a, b = map(int, input("숫자 두 개를 입력하세요: ").split())
print(a + b)

숫자 두 개를 입력하세요: 10 20
30

### 출력

#### sep로 값 사이에 문자 넣기

In [14]:
print(1, 2, 3)

1 2 3

In [15]:
print("Hello", "Python")

Hello Python

In [16]:
print(1, 2, 3, sep=', ')

1, 2, 3

In [17]:
print(1, 2, 3, sep=',')

1,2,3

In [18]:
print("Hello", "Python", sep="")

HelloPython

In [19]:
print(1024, 768, sep="x")

1024x768

In [20]:
print(1, 2, 3, sep='\n')

1
2
3

#### end 사용하기

In [21]:
print(1)
print(2)
print(3)

1
2
3

In [22]:
print(1, end=' ')
print(2, end=' ')
print(3)

1 2 3

In [23]:
print(1, end='\t')
print(2, end='\t')
print(3)

1	2	3

#### print formatting

In [5]:
print(1,2,3)
print("a"+" "+"b"+" "+"c")
print("%d %d %d"%(1,2,3))
print("{} {} {}".format("a","b","c"))

1 2 3
a b c
1 2 3
a b c

#### 일반적으로 %-format 과 str.format() 함수를 사용함

In [6]:
print('%s %s'%('one','two'))
print('{} {}'.format('one','two'))
print('%d %d'%(1,2))
print('{} {}'.format(1,2))

one two
one two
1 2
1 2

####  "%datatype" % (variable) 형태로 출력 양식을 표현

In [7]:
print("I eat %d apples."%3)
print("I eat %s apples."%"five")
number=3
day="three"
print("I ate %d apples. I was sick for %s days."%(number,day))
print("Product: %s, Price per unit: %f."%("Apple",5.243))

I eat 3 apples.
I eat five apples.
I ate 3 apples. I was sick for three days.
Product: Apple, Price per unit: 5.243000.

In [8]:
print("Art: %5d, Prince per Unit: %8.2f" % (453, 59.058))

Art:   453, Prince per Unit:    59.06

#### str.format()

In [9]:
age =36
name='Hong gil dong'
print("I’m {0} years old.".format(age))
print("My name is {0} and {1} years old.".format(name,age))
print("Product: {0}, Price per unit: {1:.3f}.".format("Apple",5.243))

I’m 36 years old.
My name is Hong gil dong and 36 years old.
Product: Apple, Price per unit: 5.243.

In [10]:
print("Art: {0:5d}, Price per Unit: {1:8.2f}".format( 453, 59.058))

Art:   453, Price per Unit:    59.06

#### padding

In [11]:
print("Product: %5s, Price per unit: %.5f."%("Apple",5.243))
print("Product: {0:5s}, Price per unit: {1:.5f}.".format("Apple",5.243))
print("Product: %10s, Price per unit: %10.3f."%("Apple",5.243))
print("Product: {0:>10s}, Price per unit: {1:10.3f}.".format("Apple",5.243))

Product: Apple, Price per unit: 5.24300.
Product: Apple, Price per unit: 5.24300.
Product:      Apple, Price per unit:      5.243.
Product:      Apple, Price per unit:      5.243.

#### naming

In [13]:
print("Product: %(name)10s, Price per unit: %(price)10.5f." % 
      {"name":"Apple","price":5.243})

print("Product: {name:>10s}, Price per unit: {price:10.5f}."
      .format(name="Apple",price=5.243))

Product:      Apple, Price per unit:    5.24300.
Product:      Apple, Price per unit:    5.24300.